* {
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

body {
    padding: 0;
    margin: 0;
}

.title {
    font-weight: bold;
    font-size: 40px;
}
.calculator {
    display: flex;
    flex-direction: column;
    gap:0px;
    background-color: rgb(49, 49, 49);
    width: 385px;
    height: 500px;
    border: solid;
    border-color: black;
}

.calc-buttons{
    display: flex;
    flex-flow: row;
    margin-left: 10px;
    justify-content: center;
}

.output {
    grid-area: output;
    background-color: rgb(49, 49, 49);
    color: white;
    border: solid;
    border-color: rgb(61, 61, 61);
    width: 360px;
    height: 80px;
    margin: 0px;
    margin-left: 7px;
    text-align: right;
}

.numbers {
 grid-area: numb;
 display: flexbox;
 flex-wrap: wrap;
 flex-basis: auto;
 gap: 0px;
 width: 400px;
 padding: 0px;
 margin: 0px;
 margin-right: -20px;
 margin-top: 7.5px;
}

.num-button {
    margin-top: 2px;
    margin-left: -7px;
    padding:0px;
    width: 100px;
    height: 100px;
    color: black;
    border: none;
    font-size: 40px;
}
.num-button.zero {
    width: 305px;
}
.num-button:hover {
    background-color: grey;
}

.operations {
    grid-area: oper;
    display: flex;
    flex-flow: column;
    margin: 0px;
    padding: 0px;
    width: 80px;
}

.op-button {
    width: 60px;
    height: 60px;
    margin-top: 1px;
    margin-left: 0px;
    background-color: orange;
    border: none;
    font-size: 40px;
}

.op-button:hover {
    background-color: orangered;
}
    